.fab{
    font-size:30px;
    letter-spacing: 13px;
}
.footer,
.footer-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer{
    bottom: -80px;
}
#social{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: transform 0.5s;
}
/**********social hover color***************/
.fa-linkedin:hover{
    color:#0e76a8;
}
.fa-github:hover{
    color: #4078c0;
}
.fa-youtube:hover{
    color: #FF0000;
}
.fa-facebook:hover{
    color: #4267B2;
}
.fa-instagram:hover{
    color: #3f729b;
}

footer p{
    text-align: center;
    font-size: 19px;
    letter-spacing: 1px;
}
.far{
    font-size: 19px;
}
/**********footer content***********/
.footer-content{
    letter-spacing: 1px;
    font-size:16px;
}
.footer-content:hover{
    transition: transform 0.5s;
}
.footer-content a,
.footer a{
    text-decoration: none;
    color: black;
}